<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xjs.multidatasource.dao.ProductMapper">

    <select id="selectById" resultType="com.github.xjs.multidatasource.domain.Product">
        select * from product
        where id=#{id}
    </select>

</mapper>